<div class="container">

  <div class="container">
    <%= @flat.name %>
  </div>

  <div class="container">
    <%= @flat.address %>
  </div>

  <div class="container">
    <%= @flat.description %>
  </div>

  <div class="container">
    <%= @flat.price_per_night %><%= @flat.number_of_guests %>
  </div>
</div>
